page-home {
  #home     {
  background: color($colors, main);
    }
  }

.navbarLogo {
  height: 40px;
  float: left;
  margin-left: 10px;
}

.menu {
  float: right;
  font-size: 30px;
  padding: 10px 10px;
}

.dashboardContentNextVisit {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #aea699;
  border: solid #2A2C43;
  border-radius: 15px;
  padding: 2vh;
  margin-bottom: 3vh;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  display: inline-flex;
}

.dashboardContentMaajar{
  position: absolute;
  margin-left: 4.5vh;
  margin-right: auto;
  background: #aea699;
  border: solid #2A2C43;
  border-radius: 15px;
  padding: 2vh;
  margin-bottom: 3vh;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  display: inline-flex;
}

.dashboardTextTop {
  font-family: Overlock, cursive;
  font-size: 6vh;
  padding-top: 1vh;
  margin-bottom: 2vh;
}

.dashboardTextTitleVisit {
  position: absolute;
  font-family: Overlock, serif;
  margin-top: 0.2vh;
  margin-bottom: 1vh;
  margin-left: 9vh;
  font-size: 3.5vh;
  display: inline-flex;
}

.dashboardTextTitleMaajar {
  font-family: Overlock, serif;
  margin-top: 0.2vh;
  margin-bottom: 1vh;
  margin-left: 34.8vh;
  font-size: 3.5vh;
  display: inline-flex;
}

.dashboardTextContent {
  font-family: Overlock, serif;
  color: #000000;
  font-size: 3.5vh;
  line-height: 3.5vh;
  text-align: center;
  margin: 0.5vh;
}

.dashboardButtons {
  background-color: #2A2C43;
  margin-top: 1vh;
  border-radius: 1.5vh;
  width: 100%;
}

.dashboardButtonsText {
  font-family: Overlock, serif;
  color: #aea699;
  font-size: 3.5vh;
  line-height: 3.5vh;
  text-align: center;
  margin: 0.5vh;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important;
}

.scroll-content {
  overflow-y: hidden !important;
}
