page-home {
  #home     {
  background: color($colors, main);
    }
  }

.navbarLogo {
  height: 40px;
  float: left;
  margin-left: 10px;
}

.menu {
  float: right;
  font-size: 30px;
  padding: 10px 10px;
}

.dashboardContent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #aea699;
  border: solid #2A2C43;
  border-radius: 15px;
  padding: 2vh;
  margin-bottom: 5.5vh;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}


.dashboardTextTop {
  font-family: Windsong, cursive;
  font-size: 8vh;
  padding-top: 1vh;
}

.dashboardTextTitles {
  font-family: Overlock, serif;
  margin-top: 0.2vh;
  margin-bottom: 1.5vh;
  font-size: 6vh;
}

.dashboardTextContent {
  font-family: Overlock, serif;
  font-size: 3.5vh;
  line-height: 3.5vh;
  text-align: center;
  margin: 0.5vh;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
