page-dry-tasks {
  #dry {
    background: color($colors, main);
  }
}

.navbarLogo {
  height: 40px;
  float: left;
  margin-left: 10px;
}

.menu {
  float: right;
  font-size: 30px;
  padding: 10px 10px;
}
